body{
    background-color: #333;
    color: white;
}
.gameMap{
    width: 510px;
    height: 510px;
    border: 10px solid #666;
    color: white;
    
}
.gameMap div{
    width: 48px;
    height: 48px;
    border: 1px solid #555;
    float: left;

}
.gameMap .pac{
    background-image: url(icons/icon-pacman.png);
}
.gameMap .coin{
    background-image: url(icons/icon-coin.png);
}
.gameMap .bomb{
    background-image: url(icons/icon-bomb.png);
}


#gameScore{
    font-size: 20px;
}