body{

    --film-color:#000000c0;
    --main-bg-dark-color:#32251C;
    --main-bg-light-color:#8C6F5E;
}

body{
    /*HW1: move the gradient */
    
    background: radial-gradient(at top 50% left 33%,
        var(--main-bg-light-color),
        var(--main-bg-dark-color)),
        url(images/wood.jpg);
        background-blend-mode:hard-light;
        height:100vh;
        background-size: cover, cover;
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

/*LAYOUT*/
.origin{
    width: 0px;
    height: 20px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 33%;
}
.origin .film{
    background-size:20px 30px;

    /* Using CSS "calc()"*/
    filter:drop-shadow(0.5vw 0.5vh 0.5vh --film-color);
    width: calc( 7 * ( 2 * 1vw + 400px ) );

    font-size:0;
    position: relative;
    left: -33vw;
    top: -178px;
}
.origin .film::before {
    content:"";
    height:3vh;
    display: block;
    background: radial-gradient(transparent 49%, var(--film-color) 51%) repeat-x;
    background-size:2vw 100%
}
.origin .film::after {
    content:"";
    height:3vh;
    display: block;
    background: radial-gradient(transparent 49%, var(--film-color) 51%) repeat-x;
    background-size:2vw 100%
}
.origin .film li{
    display:inline-block;
    padding: 0 1vw;
    background-color: var(--film-color);
}
.origin .film li img{
   /* opacity:0;*/
    /*HW1: use visibility ---> opacity:0*/
    /*visibility:hidden;*/
}
.layer{
    /*HW2: add one more layer + gradient + blanding*/

    /*background-image: linear-gradient(#04040459, #ffffff41, #04040459), 
    linear-gradient( to left, black, #ffffff1c);
    background-blend-mode: multiply, color-dodge;*/
    
    background: radial-gradient(
        circle at left, rgb(255 255 255 / 29%) 0%,
        rgb(0 0 0 / 8%) 45%,
        rgb(3 27 47) 100%);
    background-blend-mode: multiply, color-dodge;
    position:absolute;
    width: calc( 7 * ( 2 * 1vw + 400px ) );
    height: 100vh;
    z-index:1;
}

.v-guide{
    position: absolute;
    height: 100vh;
    top:-50vh;
    left: 0;

    width: 1px;
    background-color: #555;
}
.h-guide{
    position: absolute;
    width: 100vw;
    top:0;
    left:-33vw;
    height: 1px;
    background-color: #555;
}
